<div class="search">
  <input  placeholder="キーワードを入力">
</div>

<div class="content-wrapper">
  <div class="content">
    <div class="comment">
        如月令和千葉の朝焼けに剪定に励む園丁立春空憩う
    </div>
    <div class="image-details">
      <div class="image">
        <%= image_tag "mako.jpeg" %>
      </div>
      <div class="details">
        <div class="company">
          神野造園土木
        </div>
      </div>
    </div>
  </div>
</div>