<div class="content-wrapper">
  <div class="head-section">
    <input  placeholder="キーワードを入力">
  </div>
  <% @profiles.each do |profile| %>
    <div class="content">
      <div class="image">
        <%= image_tag "mako.jpeg" %>
      </div>
      <div class="information">
        <div class="company">
          <%= profile.company %>
        </div>
        <div class="explanation">
          病院・飲食店・美容院・ネイルサロン・Bar・学生塾など、いろいろな業種の
          病院・飲食店・美容院・ネイルサロン・Bar・学生塾など、いろいろな業種の
        </div>
        <div class="tel-button">
          <div class="tel">
            <%= profile.tel %>
          </div>
          <div class="button">
            <%= link_to "詳細を確認する", "profiles/show" %>
          </div>
        </div>
      </div>
    </div>
   <% end %>  
</div>