<div class="content-wrapper">
  <div class="content">
    <div class="image">
      <%= image_tag "mako.jpeg" %> 
    </div>
    <div class="information">
      <div class="company">
        神野造園土木
      </div>
      <table>
        <tr>
          <th>代表</th>
          <td>神野洋次<td>
        </tr>
        <tr>
          <th>従業員</th>
          <td>1人<td>
        </tr>
        <tr>
          <th>営業時間</th>
          <td>7:00 ~ 18:00<td>
        </tr>
        <tr>
          <th>定休日</th>
          <td>年中無休<td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td>0120-1234-5678<td>
        </tr>
        <tr>
          <th>所在地</th>
          <td>
            〒 000-0000</br>
            大阪府渋谷区一丁目2-3
          <td>
        </tr>
      </table>
    </div>
    <div class="explanation">
      <p>企業説明</p>
      <p>
      病院・飲食店・美容院・ネイルサロン・Bar・学生塾など、いろいろな業種の
      病院・飲食店・美容院・ネイルサロン・Bar・学生塾など、いろいろな業種の
      病院・飲食店・美容院・ネイルサロン・Bar・学生塾など、いろいろな業種の
      病院・飲食店・美容院・ネイルサロン・Bar・学生塾など、いろいろな業種の
      病院・飲食店・美容院・ネイルサロン・Bar・学生塾など、いろいろな業種の
      病院・飲食店・美容院・ネイルサロン・Bar・学生塾など、いろいろな業種のののノノノノのののの
    </div>
  </div>
</div>